<div class="container max-w-screen-lg mx-auto flex flex-col justify-center">
    <div class="flex flex-row justify-between pb-16">
        <div class="flex flex-col justify-between">
            <div class="font-title text-9xl pr-8">Hi,<br>I'm Silvan</div>
            <div class="flex flex-row pt-4 pb-4 space-x-4 items-center">
                <img class="w-24 h-24 pb-4" src="assets/android.svg" alt="Android logo">
                <img class="w-12 h-12" src="assets/kotlin.svg" alt="Kotlin logo">
                <img class="w-20 h-20" src="assets/angular.svg" alt="Angular logo">
                <img class="w-16 h-16" src="assets/dotnet.svg" alt="Dotnet logo">
            </div>
        </div>
        <img class="w-96 h-96 rounded-full object-cover border-4 border-lightblue" src="assets/portrait.jpg" alt="Avatar">
    </div>
    <div class="flex flex-row justify-center text-xl">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </div>
</div>