@if (introduction$ | async; as intro) {
    <div class="container max-w-screen-lg mx-auto flex flex-col justify-center">
        <div class="flex flex-row flex-wrap justify-center lg:justify-between items-center">
            <div class="font-title text-6xl sm:text-7xl md:text-8xl pr-8 2">Hi!<br>I'm Silvan</div>
            <img class="w-72 h-72 sm:w-96 sm:h-96 my-10 rounded-full object-cover border-4 border-lightblue" src="{{ intro.portrait_path }}" alt="Avatar">
        </div>
        <div class="flex flex-row self-center pb-4 space-x-2 sm:space-x-4">
            @for (icon of intro.icons; track icon) {
                <img class="w-16 h-16 sm:w-24 sm:h-24 pb-4" src="{{ icon }}" alt="{{ icon }}">
            }
        </div>
        <div class="flex flex-row text-xl text-justify">{{ intro.description }}</div>
        <div class="mt-12 mb-12 text-2xl self-center">&#10070; &#10070; &#10070;</div>
    </div>
}