@if (blog$ | async; as blog) {
    <div class="min-h-screen min-w-screen text-white bg-darkblue p-8 sm:p-12 md:p-24">
        <div class="container mx-auto flex flex-col max-w-screen-lg items-center">
            <div class="font-title text-5xl pb-12">{{ blog.title }}</div>
            <img src="{{ blog.image_path }}" />
            <div class="flex flex-row text-lg font-title my-8">
                <div class="italic">{{ blog.date }} by</div>
                <div class="ms-1 uppercase">{{ blog.author }}</div>
            </div>
            <markdown class="text-justify"[src]="blog.md_path" />
            <button routerLink="/home" class="p-2 bg-darkblue rounded-xl border-white border-2 text-white uppercase text-sm hover:bg-white hover:text-darkblue">Back</button>
        </div>
    </div>
}