<div class="container max-w-screen-lg mx-auto flex flex-col">
    <div class="font-title text-5xl pb-12 self-center">Contact me</div>
    <div class="flex flex-row self-center space-x-4">
        <a href="mailto:silvan.wenk@gmail.com">
            <img src="https://firebasestorage.googleapis.com/v0/b/wenk-portfolio.appspot.com/o/contact%2Fgmail-logo.svg?alt=media&token=ba64ec87-a494-4bf9-9ae4-96cdf6eaced4" alt="Contact me by email" class="md:w-36 w-24">
        </a>
        <a href="https://www.linkedin.com/in/silvan-wenk-6127a91b9/" target="_blank">
            <img src="https://firebasestorage.googleapis.com/v0/b/wenk-portfolio.appspot.com/o/contact%2Flinkedin-logo.svg?alt=media&token=c760228b-f39c-4f57-a23e-2763688c624e" alt="Contact me on LinkedIn" class="md:w-48 w-36">
        </a>
        <a href="https://github.com/wenk-silvan" target="_blank">
            <img src="https://firebasestorage.googleapis.com/v0/b/wenk-portfolio.appspot.com/o/contact%2Fgithub-logo.svg?alt=media&token=8b117e23-ff46-4de7-a508-e527a80be763" alt="Contact me on GitHub" class="md:w-48 w-36">
        </a>
    </div>
    <div class="mt-12 mb-12 text-2xl self-center">&#10070; &#10070; &#10070;</div>
</div>